codeblock {
  display: block;
  border-radius: 6px;
  background: #23241f;
  color: #fefefe;
  font-family: monospace;
  font-size: smaller;
  line-height: 1.4em;
  padding: .5em;
}

code {
  font-family: monospace;  
}
